<header>
  <div id="header">
    <div id="logo">
      {% load static %}
      <img src="{% static 'img/YJlogo.jpg' %}" width='300'>
      <h1 title="Go back to homepage"><span>Fashion HIHI</span><a href="#"></a></h1>
    </div>
    <div id="nav">      
      <!--主選單-->
      <nav id="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'about' %}" class="highlight_txt">About</a></li>
          <li><a href="{% url 'make_reservation' %}">Reservation</a></li>          
        </ul>
      </nav>
    </div>
  </div>
</header>