<header>
  <div id="header">
    <div id="logo">
      {% load static %}
      <img src="{% static 'img/YJlogo.jpg' %}" width='300'>
      <h1 title="Go back to homepage"><span>Fashion HIHI</span><a href="#"></a></h1>
    </div>
    <div id="nav">      
      <!--主選單-->
      <nav id="main-nav">
        <ul>
          <li class="nav-item">
            <a href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about' %}" class="highlight_txt">About</a>
          </li>          
          {% if user.is_authenticated %}
          <li class="nav-item">
            使用者名稱: {{ user.get_username }}
          </li>          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}          
        </ul>
      </nav>
    </div>
  </div>
</header>